js/node_modules
web/node_modules
*/dist
*/.vscode
*/.idea
*/.DS_Store
*/.env
*/.env.local
*/.env.development
*/.env.test
*/.env.production
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local
web/config/env.js
web/data

*/.cache
*/.history
*/.vs
*/.nyc_output
*/.sonar